<div class="w-75 m-auto mt-5">
    <div class="row">
        <div class="col">
            <!-- <h1 class="col">Brands</h1> -->
             <app-custom-title
                text="Categorías"
                [level]="3"
                alignText="start"
            ></app-custom-title>
        </div>
        <div class="col d-flex justify-content-end">
            <app-custom-link-button
            className="btn btn-primary rounded-pill px-4 shadow-sm"
            name="Agregar +"
            routerLink="/categories/new"
            ></app-custom-link-button>
        </div>
    </div>
    <app-custom-table
        tableName="categories"
        [columns]="columns"
        [data]="categories"
        [showPagination]="false"
        (delete)="openDeleteDialog($event)"
    ></app-custom-table>
</div>

